@import "tailwindcss";

/* My Base Styles */

@layer base {
    /* h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-semibold;
    }

    body {
        @apply font-sans antialiased;
    } */
}

/* Custom Styles */

@layer components {
    /* .container-custom {
        @apply max-w-7xl mx-auto px-4;
    }

    .btn-primary {
        @apply bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition;
    } */
}